<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<p>Please Select Your Dates</p>
<form action="/listings/<%= @id %>/book" method="post">
  <input type="date" name="start_date">
  <input type="date" name="end_date">
  <input type="submit" value="Request">
</form>
  
</body>
</html>