<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>AirCouch - New Booking</title>

  <link rel="stylesheet" type="text/css" href="/public/src/styles/style.css">
</head>

<body>
  <ul id="top_nav_bar">

    <li id="top_nav_bar_list">
      <a id="top_nav_bar_links" href="/users/new">Sign Up</a>
    </li>
    <li id="top_nav_bar_list">
      <a id="top_nav_bar_links" href="/listings">Listings</a>
    </li>
    <li id="top_nav_bar_list">
      <a id="top_nav_bar_links" href="/login">Log In</a>
    </li>
    <li id="top_nav_bar_list">
      <!-- this one doesn't work at the moment -->
      <a id="top_nav_bar_links" href="/login/destroy">Log Out</a>
    </li>
  </ul>

  <h2>New booking</h2>
  <p>Please Select Your Dates</p>
  <form action="/listings/<%= @id %>/book" method="post">
    <input type="date" id="date" name="start_date" min="2019-11-19" max="2019-12-19"></input>
    <input type="date" id="date" name="end_date" min="2019-11-19" max="2019-12-19"></input>
    <input type="submit" value="Request"></input>
  </form>
</body>

</html>
