<form action="/listings/new" method="post">
  <input type="text" name="name" placeholder="enter name of listing"/>
  <input type="text" name="description" placeholder="enter a brief description"/>
  <input type="number" name="price" placeholder="enter price per night"/>
  <label for="start_date"> Enter start date </label>
  <input type="date" name="start_date" placeholder="dd/mm/yyyy"/>
  <label for="end_date"> Enter end date </label>
  <input type="date" name="end_date" placeholder="dd/mm/yyyy"/>
  <input type="submit" value="Submit"/>
</form>
