<form action="/listings/new" method="post">
  <input type="text" name="name" placeholder="enter name of listing"/>
  <input type="text" name="description" placeholder="enter a brief description"/>
  <input type="number" name="price" placeholder="enter price per night"/>
  <input type="date" name="start_date" placeholder="enter start date"/>
  <input type="date" name="end_date" placeholder="enter end date"/>
  <input type="submit" value="Submit"/>
</form>
