<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>AirCouch - Sign Up</title>

  <link rel="stylesheet" type="text/css" href="/public/src/styles/style.css">
</head>

<body>
  <ul id="top_nav_bar">

    <li id="top_nav_bar_list">
      <a id="top_nav_bar_links" href="/users/new">Sign Up</a>
    </li>
    <li id="top_nav_bar_list">
      <a id="top_nav_bar_links" href="/listings">Listings</a>
    </li>
    <li id="top_nav_bar_list">
      <a id="top_nav_bar_links" href="/login">Log In</a>
    </li>
    <li id="top_nav_bar_list">
      <!-- this one doesn't work at the moment -->
      <a id="top_nav_bar_links" href="/login/destroy">Log Out</a>
    </li>
  </ul>
  
<h2>Sign up to AirCouch below:</h2>
<form action="/users/new" method="post">
  <input type="name" name="name" placeholder="Enter username..." /><br>
  <input type="email" name="email" placeholder="Enter email" /><br>
  <input type="password" name="password" placeholder="Enter password" /><br>
  <input type="submit" value="Submit" />
</form>
</body>

</html>
