<h1>Sign up to AirCouch below:</h1>
<form action="/users/new" method="post">
  <input type="name" name="name" placeholder="Enter username..." /><br>
  <input type="email" name="email" placeholder="Enter email" /><br>
  <input type="password" name="password" placeholder="Enter password" /><br>
  <input type="submit" value="Submit" />
</form>
