<h2>Welcome to AirCouch, <%= @user.name %>. Thanks for joining us!</h2>

<form action='/listings' method="get">
  <button type="submit">View listings</button>
</form>

<form action='/listings/new' method="get">
  <button type="submit">Make new listing</button>
</form>

<br>
<form action="/login/destroy" method="post">
  <input type="submit" value="Log out"/>
</form>
